*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body{
    background: #338cb6;
    color: white;
}

header{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom right,#1d739b,#35afce);
    padding: 20px 8%;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1{
    font-size: 35px;
    color: white;
}

nav ul{
    display: flex;
    gap: 30px;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 0.3s;
}

nav ul li a:hover{
    color: #043a44;
}


.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    flex-wrap: wrap;
}

.hero-text{
    max-width: 500px;
}

.hero-text h2{
    font-size: 60px;
    margin-bottom: 20px;
}

.hero-text p{
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 30px;
}

.hero-text button{
    padding: 14px 35px;
    border: none;
    border-radius: 30px;
    background: white;
    color: #228fce;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.hero-text button:hover{
    transform: scale(1.08);
}

.hero-img img{
    width: 350px;
    border-radius: 30px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}


.gallery{
    padding: 80px 8%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    gap: 35px;
}

.card{
    background: #034f6d;
    border-radius: 25px;
    overflow: hidden;
    transition: 0.4s;
}

.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(4, 28, 37, 0.4);
}

.card img{
    width: 100%;
    height: 380px;
    object-fit: cover;
}

.card-content{
    padding: 20px;
}

.card-content h3{
    font-size: 24px;
    margin-bottom: 10px;
}

.card-content p{
    color: #cfcfcf;
    margin-bottom: 15px;
}

.icons{
    display: flex;
    gap: 15px;
    color: #48bdec;
    font-size: 20px;
}

footer{
    background: #111;
    text-align: center;
    padding: 40px 20px;
}

footer h2{
    margin-bottom: 10px;
}

footer p{
    margin-bottom: 20px;
    color: #aaa;
}

.social{
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 24px;
    color: #ec4899;
}